* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* background: url("./img/background\ 1.png"); */
  background-size: cover;
}

.wrapper {
  margin: 0 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.logo {
  display: flex;
  height: 44px;
  transition: 0.5s;
}

.logo-text a {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Thin", sans-serif;
  text-transform: uppercase;
  color: white;
  margin-left: 8px;
  text-decoration: none;
  user-select: none;
}

.logo-text__lvl1 {
  font-size: 29px;
}

.logo-text__lvl2 {
  font-size: 18px;
}

#theme-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.icons-list {
  vertical-align: text-top;
  margin-right: 10px;
  font-size: 18px;
}

.contacts a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  user-select: none;
  transition: 0.5s;
}

.style-phone {
  padding-top: 19px;
}

.second-image {
  display: none;
}

.logo:hover .top-image {
  display: none;
}

.logo:hover .second-image {
  display: block;
}

.logo:hover .logo-text__top {
  color: #f26522;
}

.contacts a:hover {
  transition: 0.5s;
  color: #f26522;
}

.box-content {
  display: grid;
  gap: 37px 60px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 270px);
  margin-bottom: 50px;
}

.items a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: white;
}

.items p {
  padding-top: 20px;
}

.items {
  position: relative;
}

.block-information {
  position: absolute;
  top: 165px;
  width: 310px;
  margin-left: 2px;
  height: 55px;
  background-color: #f26522;
  padding: 0 16px;
}

.block-information .text-from {
  position: absolute;
  bottom: 35px;
  font-size: 12px;
}

.price-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  margin-right: 20px;
}

.block-information p {
  color: white;
}

.price {
  font-size: 20px;
}

.details {
  font-size: 17px;
  transition: 0.4s;
}

.details::after {
  content: ">";
  position: relative;
  top: 1px;
  left: 20px;
  font-size: 17px;
}

.details:hover {
  transition: 0.4s;
  letter-spacing: 1px;
}

.title-of-image {
  transition: 0.4s;
}

.items:hover .title-of-image {
  transition: 0.4s;
  color: #f26522;
}

.block-information {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
}

.items:hover .block-information {
  opacity: 1;
  transform: translateY(0%);
  transition: 0.5s;
}

.footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
